<script setup lang="ts">
import { ref } from 'vue';
type Gender = 'male' | 'female' | 'others'
type Role = 'admin' | 'user'
type User = {
    id: number
    email: string
    password: string
    fullname: string
    gender: Gender // male female others
    role: Role[] //admin user 
}
const headers = [
    {
        title: 'Id',
        key: 'id',
        value: 'id'
    },
    {
        title: 'Email',
        key: 'email',
        value: 'email'
    },
    {
        title: 'Full Name',
        key: 'fullname',
        value: 'fullname'
    },
    {
        title: 'Gender',
        key: 'gender',
        value: 'gender'
    },
    {
        title: 'Role',
        key: 'role',
        value: (item:any|User) => item.role.join(',')
        
    }
]
const form = ref(false)
const loading = ref(false)
const initilUser:User = {
    id: -1,
    email:'',
    password:'',
    fullname:'',
    gender:'male',
    role:['user']
}
const editedUser = ref<User>(JSON.parse(JSON.stringify(initilUser)))

const users = ref<User[]>([{
    id: 1,
    email: 'admin',
    password: 'Pass@Word123',
    fullname: 'Admin',
    gender: 'male',
    role: ['admin', 'user']
},
{
    id: 2,
    email: 'user1',
    password: 'Pass@Word123',
    fullname: 'User1',
    gender: 'female',
    role: ['user']
},
{
    id: 3,
    email: 'user2',
    password: 'Pass@Word123',
    fullname: 'user2',
    gender: 'male',
    role: ['user']
}])
function onSubmit(){

}

</script>

<template>
    <!-- <div>
        <v-table>
            <thead>
                <tr>
                    <th class="text-left">
                        ID
                    </th>
                    <th class="text-left">
                        email
                    </th>
                    <th class="text-left">
                        Full Name
                    </th>
                    <th class="text-left">
                        Gender
                    </th>
                    <th class="text-left">
                        Role
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in users" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.fullname }}</td>
                    <td>{{ item.gender }}</td>
                    <td>{{ item.role.join(',') }}</td>
                </tr>
            </tbody>
        </v-table>
    </div>-->
    <div>

        <v-data-table :headers="headers" :items="users"></v-data-table>
    </div>
    <div>
        <v-card class="mx-auto px-6 py-8" max-width="344">
      <v-form
        v-model="form"
        @submit.prevent="onSubmit"
      >
        <v-text-field
          v-model="editedUser.email"
          :readonly="loading"
          :rules="[(v) => !!v || 'Field is required']"
          class="mb-2"
          clearable
          label="Email"
        ></v-text-field>
        <v-text-field
          v-model="editedUser.fullname"
          :readonly="loading"
          :rules="[(v) => !!v || 'Field is required']"
          class="mb-2"
          clearable
          label="Full Name"
        ></v-text-field>
        <v-combobox
            label="Combobox"
            :items="['male', 'female', 'others']"
            v-model="editedUser.gender"
        ></v-combobox>
        <v-text-field
          v-model="editedUser.password"
          :readonly="loading"
          :rules="[(v) => !!v || 'Field is required']"
          clearable
          label="Password"
          placeholder="Enter your password"
        ></v-text-field>
        <v-combobox
          v-model="editedUser.role"
          :items="['admin','user']"
          label="Select a favorite activity or create a new one"
          multiple
        ></v-combobox>

        <br>

        <v-btn
          :disabled="!form"
          :loading="loading"
          block
          color="success"
          size="large"
          type="submit"
          variant="elevated"
        >
          Sign In
        </v-btn>
      </v-form>
      <pre>
        {{ editedUser }}
      </pre>
    </v-card>
    </div>
</template>
